<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="templating.helper.gravatar.class">Bundle\GravatarBundle\Templating\Helper\GravatarHelper</parameter>
        <parameter key="gravatar.api.class">Bundle\GravatarBundle\GravatarApi</parameter>
    </parameters>

    <services>
    
        <service id="gravatar.api" class="%gravatar.api.class%" />
	
		<service id="gravatar.http_client" class="\Zend\Http\Client" />
	
		<service id="gravatar.cache" class="Zend\Cache\Cache" constructor="factory">
			<argument>Core<argument>
			<argument>File</argument>
			<argument type="collection">
				<argument key="cache_id_prefix">gravatar</argument>
			</argument>
			<argument type="collection">
				<argument key="cache_dir">%kernel.cache_dir%/gravatar</argument>
			</argument>
			<argument>false</argument>
			<argument>true</argument>
		</service>
		
        <service id="templating.helper.gravatar" class="%templating.helper.gravatar.class%">
            <tag name="templating.helper" alias="gravatar" />
            <argument type="service" id="gravatar.api" />
            
            <call method="setHttpClient">
				<argument type="service" id="gravatar.http_client" />
            </call>
            
            <call method="setCache">
				<argument type="service" id="gravatar.cache.frontend" />
            </call>
        </service>
        
    </services>
</container>
